* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}


label {
  display: flex;
  flex-direction: column;

  margin: 1rem 0;
}

textarea {
  min-width: 30rem;
  min-height: 10rem;
}

input[type="color"] {
  height:10rem;
}

label :is(input, textarea) {
  margin-top: 0.5rem;
}

label, label :is(input, textarea) {
  font-size: 1.5rem;
}

.result {
  transform-origin: 0 0;
  transform: scale(0.1666666667);
}

@media screen and (min-width: 480px) {
  .result {
    transform: scale(0.25);
  } 
}

@media screen and (min-width: 720px) {
  .result {
    transform: scale(0.375);
  } 
}

@media screen and (min-width: 960px) {
  .result {
    transform: scale(0.5);
  } 
}

@media screen and (min-width: 1200px) {
  .result {
    transform: scale(0.625);
  } 
}

@media screen and (min-width: 1440px) {
  .result {
    transform: scale(0.75);
  } 
}

@media screen and (min-width: 1920px) {
  .result {
    transform: scale(1);
  } 
}
